<!-- masterbikes/templates/masterbikes/bicicletas.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MasterBikes - Bicicletas</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesIncludes.css' %}">
    <link rel="icon" href="{% static 'Img/icono1.jpeg' %}">
</head>
<body>

    {% include 'masterbikes/includes/header.html' %}

    <main class="main">
        <div class="container">
            <img src="{% static 'img/bannerbicicleta.png' %}" class="banner-img" alt="Banner Reservas">
            <h2>Bicicletas</h2>
            <div class="row">
                {% for bicicleta in bicicletas %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ bicicleta.imagen.url }}" class="card-img-top" alt="{{ bicicleta.nombre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ bicicleta.nombre }}</h5>
                            <p class="card-text">{{ bicicleta.descripcion|truncatewords:20 }}</p>
                            <p class="card-text">Precio: ${{ bicicleta.precio }}</p>
                            <a href="{% url 'agregar_al_carrito' bicicleta.id %}" class="btn btn-primary">Agregar al Carrito</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>

    {% include 'masterbikes/includes/footer.html' %}

</body>
</html>
