<!-- masterbikes/templates/masterbikes/Vistas/reservas.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MasterBikes - Reservas</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesIncludes.css' %}">
    <link rel="icon" href="{% static 'img/LogoMasterbike.jpeg' %}">
</head>
<body>

    {% include 'masterbikes/includes/header.html' %}

    <main class="main">
        <div class="container">
            <img src="{% static 'img/bannerReservas.jpg' %}" class="banner-img" alt="Banner Reservas">
            <h2>Reservas</h2>
            <a href="{% url 'reserva_create' %}" class="btn btn-primary mb-3">Nueva Reserva</a>
            <div class="row">
                {% for reserva in reservas %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ reserva.bicicleta.imagen.url }}" class="img-fluid w-100" alt="{{ reserva.bicicleta.nombre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ reserva.bicicleta.nombre }}</h5>
                            <p class="card-text">{{ reserva.bicicleta.descripcion|truncatewords:20 }}</p>
                            <a href="{% url 'bicicleta_detalle_reservas' reserva.bicicleta.pk %}" class="btn btn-link">Leer más</a>
                            <p class="card-text"><small class="text-muted">Reservado el: {{ reserva.fecha_solicitud|date:"d/m/Y" }}</small></p>
                            <p class="card-text"><small class="text-muted">Entrega el: {{ reserva.fecha_entrega|date:"d/m/Y" }}</small></p>
                            <a href="{% url 'reserva_cancel' reserva.pk %}" class="btn btn-danger">Cancelar Reserva</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>


    {% include 'masterbikes/includes/footer.html' %}

</body>
</html>
