<!-- masterbikes/templates/masterbikes/Vistas/verificacion_entrega.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MasterBikes - Verificación de Entrega</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesIncludes.css' %}">
    <link rel="icon" href="{% static 'img/LogoMasterbike.jpeg' %}">
</head>
<body>

    {% include 'masterbikes/includes/header.html' %}

    <main class="main">
        <div class="container">
            <h2>Verificación de Entrega</h2>
            <div class="row">
                {% for reserva in reservas %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ reserva.bicicleta.imagen.url }}" class="card-img-top bicicleta-img" alt="{{ reserva.bicicleta.nombre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ reserva.bicicleta.nombre }}</h5>
                            <p class="card-text">{{ reserva.bicicleta.descripcion|truncatewords:20 }}</p>
                            <p class="card-text"><small class="text-muted">Reservado el: {{ reserva.fecha_solicitud|date:"d/m/Y" }}</small></p>
                            <p class="card-text"><small class="text-muted">Entrega el: {{ reserva.fecha_entrega|date:"d/m/Y" }}</small></p>
                            <p class="card-text"><small class="text-muted">Estado: {{ reserva.estado }}</small></p>
                            {% if not reserva.entregada %}
                                {% if user.is_staff %}
                                <a href="{% url 'marcar_entregada' reserva.pk %}" class="btn btn-success">Marcar como Entregada</a>
                                {% endif %}
                            {% else %}
                            <p class="card-text"><small class="text-muted">Estado: Entregada</small></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>

    {% include 'masterbikes/includes/footer.html' %}

</body>
</html>