<!-- masterbikes/templates/masterbikes/Crud/cambiar_estado_reserva.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Estado de la Reserva</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesIncludes.css' %}">
    <link rel="icon" href="{% static 'img/LogoMasterbike.jpeg' %}">
</head>
<body>

    {% include 'masterbikes/includes/header.html' %}

    <main class="main">
        <div class="container">
            <h2>Cambiar Estado de la Reserva</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="estado" class="form-label">Estado</label>
                    <select id="estado" name="estado" class="form-select" required>
                        <option value="Pendiente" {% if reserva.estado == 'Pendiente' %}selected{% endif %}>Pendiente</option>
                        <option value="En Proceso" {% if reserva.estado == 'En Proceso' %}selected{% endif %}>En Proceso</option>
                        <option value="Completada" {% if reserva.estado == 'Completada' %}selected{% endif %}>Completada</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </form>
        </div>
    </main>

    {% include 'masterbikes/includes/footer.html' %}

</body>
</html>
