{% extends 'masterbikes/base.html' %}

{% block content %}
<div class="container">
    <div class="card1 login-card">
        <div class="card-header">
            <h2 class="card-title login-title">Iniciar Sesión</h2>
        </div>
        <div class="card-body">
            <form class="login-form" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Nombre de Usuario</label>
                    <input type="text" class="form-control login-input" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control login-input" id="password" name="password" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="custom-btn btn-1 login-form-btn">Iniciar Sesión</button>
                </div>
            </form>
            <hr>
            <p class="text-center">O inicia sesión con:</p>
            <div class="d-grid gap-2">
                <button class="btn btn-outline-danger login-social-btn" type="button">
                    <span class="login-google-icon"></span> Google
                </button>
                <button class="btn btn-outline-primary login-social-btn" type="button">
                    <span class="login-apple-icon"></span> iCloud
                </button>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="custom-btn btn-secondary" aria-label="Close">Cerrar</button>
        </div>
    </div>
</div>
{% endblock %}
