<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cerrar Sesión</title>
    <!-- Agrega tus estilos personalizados si es necesario -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h2>Cerrar Sesión</h2>
    <p>¿Estás seguro de que deseas cerrar sesión?</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Cerrar Sesión</button>
    </form>
</body>
</html>
